[StalCraft]
client_id=stalcraft_client_id
client_secret=stalcraft_client_secret
repo_dir=database/dbitem
repo_url=https://github.com/EXBO-Studio/stalcraft-database.git


[Telegram]
token=tgbottoken
admins=1043461599 430952068

[MongoDB]
connection_url=mongodb://localhost:27017/
dataBase=stalbot
storageBase=stalbot
